body {
    background-color: black;
    /* cursor: none; */
}


.pictures {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.pic {
    align-self: center;
    margin: 20px;
    width: 60%;
    height: 90%;
    background-size: cover;
    border: 3px solid black;
}

.probes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.probe {
    margin: 20px;
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
}


.main {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.whiteBlock {
    position: relative;
    background-color: white;
    align-self: center;
    width: 25%;
    height: 85%;
    display: flex;
    justify-content: center;
}

.plus {
    position: absolute;
    top: calc(50% - 50px / 2);
    right: calc(50% - 50px / 2);
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startButton {
    width: 250px;
    height: 100px;
    position: absolute;
    top: calc(50% - 100px / 2);
    right: calc(50% - 250px / 2);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
}