body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.pictures {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.pic {
    align-self: center;
    margin: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.probes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

.probe {
    margin: 20px;
    width: 40%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    font-weight: bold;
}


.main {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.whiteBlock {
    position: relative;
    background-color: white;
    align-self: center;
    width: 240px;
    height: 500px;
    display: flex;
    justify-content: center;
}

.plus {
    position: absolute;
    top: calc(50% - 50px / 2);
    right: calc(50% - 50px / 2);
    width: 50px;
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions {
    line-height: 1.5;
    padding: 10px;
    direction: rtl;

    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.midPause {
    flex-direction: column;
    justify-content: space-around;
}